<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>OfficeManager</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <nav class="top_nav">
        <form th:action="@{/main/page}" method="get">
            <input type="submit" class="btn" value="Home" />
        </form>
        <form th:action="@{/rooms/inUse}" method="get">
            <input type="submit" class="btn" value="In Use Rooms" />
        </form>
        <form th:action="@{/rooms/}" method="get">
            <input type="submit" class="btn" value="Rooms" />
        </form>
        <button id="showFormBtn" class="btn">Reserve Room</button>
        <form th:action="@{/editRooms}" method="post">
            <input type="submit" class="btn" value="Edit Rooms" />
        </form>
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn" value="Logout" />
        </form>

    </nav><br><br><br>

    <h1 id="welcomeMessage">Welcome, back<span th:text="${usernamе}"></span>!</h1>

    <div id="reservationFormContainer" style="display: none;">
        <form th:action="@{/rooms/reserve}" method="post">
            Room ID: <input type="text" name="roomId"><br>
            Start Time: <input type="datetime-local" name="startTime"><br>
            End Time: <input type="datetime-local" name="endTime"><br>
            <input type="submit" class="btn" value="Reserve Room" />
        </form>
    </div>

    <script>
        document.getElementById("showFormBtn").addEventListener("click", function () {
            var formContainer = document.getElementById("reservationFormContainer");
            var welcomeMessage = document.getElementById("welcomeMessage");

            if (formContainer.style.display === "none") {
                formContainer.style.display = "block";
                welcomeMessage.style.display = "none";
            } else {
                formContainer.style.display = "none";
                welcomeMessage.style.display = "block";
            }
        });
    </script>

</body>

</html>
