<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>OfficeManager</title>
</head>

<body>
    <nav class="top_nav">
        <form th:action="@{/main/page}" method="post">
            <input type="submit" class="btn" value="Home" />
        </form>
        <form th:action="@{/rooms/status}" method="post">
            <input type="submit" class="btn" value="Rooms" />
        </form>
        <form th:action="@{/}" method="post">
            <input type="submit" class="btn" value="Edit Rooms" />
        </form>
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn" value="Logout" />
        </form>
    </nav><br><br><br>
    <ul th:each="room : ${rooms}">
        <div class="rooms" style="margin-left: 2cm; margin-bottom: 3cm;padding-bottom: 2cm;">
                <h2 th:text="${room.name}"></h2>
                <p th:text="'Room ID: ' + ${room.id}"></p>
                <p th:text="'Status: ' + ${room.status}"></p>
                <p th:text="'Status: ' + ${room.purpuse}">
                <p th:text="Booked by Hristo Angelov">
        </div>
    </ul>
</body>

</html>